html {
  font-family: Verdana, sans-serif;
}

body {
  background-color: #bea586;
  background-image: url("../images/sloth-icon.svg");
  background-size: 48px;
  background-position: left top;
}

.banner {
  background-image: linear-gradient(to top, transparent, transparent, rgba(28, 14, 0, 1)), url("../images/sloth-1.jpg");
  background-repeat: no-repeat;
  background-position: .2em center;
  background-size: 40em auto;
  border-top: 3px solid #2d5a4d;
}

.banner-content {
  padding-bottom: 500px;
}

figure {
  border-top: 3px;
  border-bottom: 3px;
}

h1 {
  font-family: Georgia, serif;
  color: #fff;
  margin: 0;
}

.content {
  background-color: #fff;
  padding-top: 2em;
}

@media only screen and (min-width: 25em) {

  .content {
    margin-right: 0;
  }

}

@media only screen and (min-width: 38em) {

  .content {
    margin: 5em;
  }

}
